<!-- banner1
	<div class="banner1">
		<div class="container">
			<h2>Gallerie</h2>
		</div>
	</div>
<!-- //banner1 -->

<!-- gallery -->
	<div class="gallery">
		<div class="container" style="padding-top:50px">
			<h3>{{nomPage}}</h3>

			<p class="sint"><span style="visibility:hidden">occaecat cupidatat non proident</span></p>
			<div id="jzBox" class="jzBox">
				<div id="jzBoxNextBig"></div>
				<div id="jzBoxPrevBig"></div>
				<img src="#" id="jzBoxTargetImg" />
				<div id="jzBoxBottom">
					<div id="jzBoxTitle"></div>
					<span id="jzBoxMoreItems">
						<div id="jzBoxCounter"></div>
						<i class="arrow-left" id="jzBoxPrev"></i>
						<i class="arrow-right" id="jzBoxNext"></i>
					</span>
					<i class="close" id="jzBoxClose"></i>
				</div>
			</div>
			<div class="gallery-grids">
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/14.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/14.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/15.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/15.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/16.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/16.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/17.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/17.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>

			<div class="gallery-grids">
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/18.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/18.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/19.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/19.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/20.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/20.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/21.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/21.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="gallery-grids">
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/15.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/15.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/16.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/16.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/17.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/17.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/14.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/14.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="gallery-grids">
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/18.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/18.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/19.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/19.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/20.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/20.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="item item-type-move">
						<a href="images/21.jpg" class="jzBoxLink item-hover" title="Trendy Furnish">
							<div class="item-info">
								<div class="headline">
									Trendy Furnish
									<div class="line"></div>
								</div>
								<div class="date-month">May 20, 2016</div>
							</div>
							<div class="mask"></div>
						</a>
						<div class="item-img">
							<img src="images/21.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<script src="js/jzBox.js"></script>
		</div>
	</div>
<!-- //gallery -->
